#booking1{
  display: block;
  margin-bottom: 20px;
  width: 100px;
}

#underneath{
  height: 20px;
}


body, html{
  margin: 0;
  padding: 0;
  max-width: 100%;
   Overflow-x:hidden;
  height: 100%;

}

#logo{
  width:150px;
  margin-top: 10px;
}
#navbar{
  display: none;
}
#background{
  background-image: url('https://res.cloudinary.com/dytmcam8b/image/upload/v1583520094/tim-meyer-SZ4KZrPIKuQ-unsplash_wlo2bh.jpg');
  height: 600px;
  width: 100%;
   background-repeat: no-repeat;
  background-size: cover;
 
}
.carousel-inner{
  display: none;
}

#send{
  
}
form {
  display: none;
}


.tagline{
  font-size:2em;
margin: 20px;
  text-align: center;
background-color: rgba(252, 252, 250, 0.5);
width: 80%;
  padding: 20px;
  color: black;
  font-family: 'Caladea', serif;
 }
#myLinks{
    font-family: 'Caladea', serif;
  display: inline;
color: white!important;
}
a{
  color: white;
}
.subheading{
    font-family: 'Caladea', serif;
  text-align: center;
}

#rooms1{
  font-family: 'Source Serif Pro', serif;
  color: #03010a;
  padding: 20px;
}

#rooms2{
  display: none;
}

#bedroom{
  width: 80%;
  margin: 20px;
}


.topnav {
  overflow: hidden;
 background-color: #3e7836!important;
  position: relative;
  height: 60px;
 
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
   background-color:#2c8240;
     font-family: 'Source Serif Pro', serif;
  font-size: 10px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
    right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
  height: 43px;
}

#stars{
  width: 70%;
  margin-left: 50px;
}

.castle{
  img-width: 100%;
}

.subheading{
  padding-top: 20px;
}
#accommodation{
  height: 400px;
  width: 100%;
  background: white no-repeat center fixed;
  color: #2c8240;
}
.links{
  margin-right: 40px;
}
#myLinks{
  color: white!important;
}
#dining{
  height: 100px;
  width: 100%;
  background: white no-repeat center fixed;
  color: #2c8240;
  margin-left: -15px;
}

.dinner1{
   font-family: 'Source Serif Pro', serif;
  color: #03010a;
 padding: 20px;
}

.dinner2{
  display: none;
}

#plate{
   width: 80%;
  margin: 20px;
}

#golfer{
  width: 80%;
  margin-left:20px;
}
#facilities{
  height: 80px;
  width: 100%;
  background: white no-repeat center fixed;
  color: #2c8240;
}

ul{
  margin: 20px;
  font-family: 'Source Serif Pro', serif;
  color: #03010a;
 padding: 20px;
}

.facilities2{
  display: none;
}

#contact{
  background-color: grey;
  height:500px;
  color: white;
    font-family: 'Source Serif Pro', serif;
  text-align: center;
}

.medium-spacer{
  text-align: center;
  font-size: 20px;
  height: 30px;
}

#rear{
  font-size: 20px;
  text-align: center;
  color: white;
}


.dining3{
  margin-top: 20px;
}



@media (min-width: 576px) { 
  body{
    Overflow-x:hidden;
  }
#logo{
  width:300px;
}

#background{
  background-image: url('https://res.cloudinary.com/dytmcam8b/image/upload/v1583520094/tim-meyer-SZ4KZrPIKuQ-unsplash_wlo2bh.jpg');
  width: 100%;
  height: 100%;
   background-repeat: no-repeat;
  background-size: cover;
 
}

.tagline{
  font-size:3em;
margin: 20px;
  text-align: center;
  color: black!important;
  padding-top: 40px;
  margin-bottom: 40px;
  color: white;
  font-family: 'Caladea', serif;
 }

.subheading{
    font-family: 'Caladea', serif;
  text-align: center;
}

#rooms1{
  font-family: 'Source Serif Pro', serif;
  color: #03010a;
  padding: 20px;
}

#rooms2{
  display: inline-block;
  font-family: 'Source Serif Pro', serif;
  color: #03010a;
  margin: 20px;
}

#bedroom{
  width: 80%;
  margin: 50px;
  
}


.topnav {
  overflow: hidden;
 background-color: #3e7836!important;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 20px 20px;
  text-decoration: none;
    background-color:#2c8240;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
  height: 60px;
}

#stars{
  width: 70%;
  margin-left: 100px;
    margin-top: -100px;
}

.castle{
  img-width: 100%;
}

.subheading{
  padding-top: 15px;
  font-size: 40px;
}
#accommodation{
  height: 520px;
  width: 100%;
  background: white no-repeat center fixed;
  color: #2c8240;
}

#dining{
  height:80px;
  width: 100%;
  background: white no-repeat center fixed;
  color: #2c8240;
 }

  p{
    font-size: 20px;
  }
  
.dinner1{
   font-family: 'Source Serif Pro', serif;
  color: #03010a;
 padding: 20px;
}

.dinner2{
  display: inline-block;
       font-family: 'Source Serif Pro', serif;
  padding: 20px;


}

#plate{
   width: 50%;
  margin-left: 190px;
}

#golfer{
  width: 80%;
  margin-left: 60px;
}
#facilities{
  height: 80px;
  width: 100%;
  background: white no-repeat center fixed;
  color: #2c8240;
  margin-left: 20px;
}

ul{
  margin-left: 60px;
  font-family: 'Source Serif Pro', serif;
  color: #03010a;
 padding: 20px;
  font-size: 20px;
}

.facilities2{
  display: none;
}

#contact{
  background-color: grey;
  height: 500px;
  color: white;
    font-family: 'Source Serif Pro', serif;
}
  .medium-spacer{
    height: 50px;
  }

.dining3{
  margin-top: 300px;
}
}
@media (min-width: 768px) { 
  .carousel-inner{
    display: block;
  }
  
  #bedroom{
    display:none;
  }
  #accommodation{
    height:250px;
  }
  
  form{
    display: block;
  }
  #underneath{
    height: 20px;
  }
  #booking{
    margin-left: 100px;
  }
  #booking1{
width: 100px;
    margin-bottom: 20px;
  }
  .slide{
    width: 50%;
    height: 200px!important;
  }
  .carousel-inner{
    height: 200px;
  }
  #dining3{
    height: 50px;
  }
  #contact{
    height: 800px;
  }
  .status{
    height: 40px;
  }
  #background{
    background-image: url("https://res.cloudinary.com/dytmcam8b/image/upload/v1583959050/glamis-castle-1528107386_ae3uek.jpg");
  }
  #stars{
    width: 300px;
    margin-top: 10px;
  }

  
}
  
  

@media (min-width: 992px) { 
  #navbar{
    display: block;
    background-color: #3e7836;
  }
  #background{
    height:800px;
  }
  
  #booking{
    margin-right: -40px;
    margin-left: 20px;
  }
  #booking1{
    display: none;
  }
  
  #myLinks1{
    display: inline-block;
  }
  #stretchlogo{
    width: 400px;
  }
  
  #booking1{
    display: none;
  }
  #burger{
    display: none;
  }
 .carousel-inner{
   height:600px;
     }
  #rooms1{
    margin-top: 200px;
    margin-left: 40px;
  }
  #rooms2{
    margin-left: 60px;
  }
  #dining{
    margin-top: 500px;
  }
  #stars{
    margin-top: 100px;
  }
  .links{
    color: white!important;
        font-family: 'Caladea', serif;
    margin-left: 45px;
    margin-right: 10px;

  }
 
  }

@media (min-width: 1200px) { 
  #rooms1{
    margin-top: 300px;
  }#dining{
    margin-top:600px;
  }.fab{
    font-size: 30px;
  }#stretchlogo{
    width: 500px;
  }
  #booking1{
    display: none;
  }
  .tagline{
    margin-top: 200px;
  }
  #background{
    height: 800px;
  }
  p{
    font-size: 30px;
  }
  ul{
    font-size: 30px;
  }
  #contact{
    height: 1000px;
  }#stars{
    margin-top: 50px;
  }
}

@media (min-width: 2000px) { 
  #background{
    height: 1900px;
  }
  #stretchlogo{
   width: 1000px; 
  }
  .links{
  font-size: 40px;
    margin-left: 100px;
}
  #booking{
    width: 200px;
    font-size: 40px;
    margin-left: 100px;
  }
  
  .tagline{
    width: 1300px;
    font-size: 100px;
    margin-left: 700px;
  }
  .subheading{ 
    font-size: 70px;
  }
  #rooms1 {
    margin-top: 440px;
  }
  .subheading{
    margin: 30px;
  }
  .dining3{
    margin-top:1000px;
  }
  #golfer{
    margin-top: 30px;
    height: 300px;
  }
  #plate{
    margin-top: 200px;
    height: 300px;
  }
  li{
    margin-left: 100px;
    font-size: 50px;
  }
  p{
    font-size: 50px;
  }
}
  